<!DOCTYPE html>
<html>
	<head>
		<title> Elysian Spire </title>
	</head>
	
	<body style = "background-color: #99CCFF; background-image: url(tower.jpg); background-repeat: no-repeat">	
		<div style = "font-family: Georgia; font-size:16px; margin-left: 750px">		
			<a href = "/index.html"><button>Home</button></a>
			<a href = "/reserve.html"><button>Room Reservations</button></a>
			<a href = "/catalog.html"><button>Room Catalog</button></a>
			<a href = "/contact.html"><button>Contact Us</button></a>
		</div>
			<div style ="margin-left: 750px; margin-top: 120px">
			<h1>About The Elysian Spire</h1>
				<p>The Elysian Spire first opened in the Spring of 2008 to a very modest reception despite garnering the Outstanding New Hotel award for that year. Over the years, The Elysian Spire has garnered several awards, such as the Outstanding Customer Satisfaction Award and Superior Service Merit - two of the most prestigious accolades for hotel businesses. <br/><br/> Undoubtedly a consequence of its devotion to excellence, The Elysian Spire does not cut corners with its amenities: with about 700 standard rooms and about 400 suites all fully-furnished with classy decor and superb entertainment and leisure venues such as tennis courts and swimming pools, it is hard not to deserve the best praises. Most fundamental to its success is its staff: combine the hand-picked finest from the country all over with world-class training, and it would be no wonder how The Elysian Spire is recognized for its fantastic service. The Elysian Spire's own buffet-style restaurant, The Pantheon, offers a stunning variety of international cuisines with an emphasis on its home's very own: Philippine cuisine. <br/><br/> All these praises can never do justice for the haven behind its doors. <a href = "/catalog.html">See for yourself the wonders offered by The Elysian Spire!</a>
			</p>
			</div>
	</body>
</html>
