<!DOCTYPE html>
<html>
	<head>
		<title> Elysian Spire Catalog </title>
	</head>
	
	<body style = "background-color: #99CCFF; background-image: url(tower.jpg); background-repeat: no-repeat">
		<div style = "margin-left: 750px">
			<a href = "/about.html"><button>About</button></a>
			<a href = "/reserve.html"><button>Room Reservations</button></a>
			<a href = "/index.html"><button>Home</button></a>
			<a href = "/contact.html"><button>Contact Us</button></a>
		</div>

		<div style = "margin-left: 710px">
			<p>
				<ul><h1>Rooms</h1></ul>
					<div style = "margin-left:60px">
					<li>Elysian Standard</li>
						<br/> - LCD TV with 108 cable channels
						<br/> - High-speed Wi-fi and broadband cable internet access
						<br/> - fully-stocked minibar
						<br/> - complimentary access to leisure venues, e.g., swimming pool, tennis courts, etc.
					<li>Olympian Standard</li>
						<br/> - LCD TV with 108 cable channels
						<br/> - High-speed Wi-fi and broadband cable internet access
						<br/> - fully-stocked minibar
						<br/> - complimentary access to leisure venues, e.g., swimming pool, tennis courts, etc.
						<br/> - includes a 40% discount pass for The Pantheon buffet
						<br/> - complimentary daily newspaper and fruit basket
					</div>
				</ul>
				<br/>
					<ul><h1>Suites</h1></ul>
					<div style = "margin-left:60px">
						<li>Delphi Suite</li>
						<li>Kalos Suite</li>
							<br> The Delphi and Kalos suites includes all Olympian Standard amenities, with the addition of a 15% persistent (while checked-in) discount for The Pantheon buffet and access to the Kallipolis Lounge and its Mega-Bar, Mini-Cinema and the Bowling Alley
					</div>
					</ul>
			</p>		
		</div>
	</body>
</html>
