<!DOCTYPE html>
<html>
	<head>
		<title> Elysian Spire </title>
	</head>
	
	<!-- John Christian A. Velasco
	BS MIS - IV
	ID 114173 -->
	<body style = "background-color: #99CCFF; background-image: url(tower.jpg); background-repeat: no-repeat">
		<div style = "margin-left: 750px">
			<a href = "/about.html">About</a>
			<a href = "/reserve.html">Room Reservations</a>
			<a href = "/catalog.html">Room Catalog</a>
			<a href = "/contact.html">Contact Us</a>
		</div>
		
		<div style = "margin-left: 750px; margin-top: 120px; font-size: 25	px">
			<h1 style = "font-family: Georgia">The Elysian Spire</h1>
				<p style = "font-family: Georgia">The Elysian Spire breaks the skies with its breath-taking architectural design and enamors hearts with its grand array of world-class amenities and suites. <br/><br/>Experience our finest offering: a sprawling overlooking view of the metro, spanning many a starred towers at night. <br/><br/> No other hotel comes closer to heaven than The Elysian Spire. <strong>Welcome home.</strong></p>	
		</div>
	</body>
</html>
